{% extends 'base_page.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/dropify.min.css' %}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Serach ID</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">DASHBOARD</a></li>
            <li class="breadcrumb-item active">Sarch Id</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Serach Id <small>Upload National ID</small></h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
              <strong>Error(s) in the form:</strong>
              <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div class="row d-flex justify-content-center align-items-center">
              <div class="card-body col-12 col-md-4">
                <div class="form-group">
                  {{form.frontImage.label_tag}}
                  {{form.frontImage}}
                </div>
                <button class="btn btn-primary w-100">Serach</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/dropify.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script>
  $(function () {

    $('#quickForm').validate({
      rules: {
        image: {
          required: true
        },
      },
      messages: {

      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });

  $(".dropify-front").dropify(
    {
      messages: {
        'default': 'قم برفع صوره وجه البطاقة هنا ',
        'replace': 'اضغط للاستبدال الصوره',
        'remove': 'مسح',
        'error': 'صوره خاطئه,برجاء إعاده الرفع'
      }
    }
  );
  $(".dropify-back").dropify(
    {
      messages: {
        'default': 'قم برفع صوره خلفية البطاقة هنا ',
        'replace': 'اضغط للاستبدال الصوره',
        'remove': 'مسح',
        'error': 'صوره خاطئه,برجاء إعاده الرفع'
      }
    }
  );
  function openCamera(index, id) {
    $("#video-" + index).attr("src", "/cameras/video/" + id);
  }

  function release() {
    $.ajax({
      url: "/cameras/release/",
      type: "GET",
      success: function (data) {

      },
      error: function (xhr, status, error) {

        console.error(error);
      }
    });
  }

  $('#captureImage').click(function () {

    $.ajax({
      url: '/cameras/capture_image/',
      type: 'GET',
      xhrFields: {
        responseType: 'blob' // Set the response type to 'blob'
      },
      success: function (response) {
        $('.dropify-clear').eq(0).click();
        const fileInput = document.getElementById('id_frontImage');
        var filename = 'captured_image.jpg';
        // Create a new file object from the blob response
        var file = new File([response], filename, { type: 'image/jpeg' });
        // Add the file to the DataTransfer object
        dataTransfer = new DataTransfer()
        dataTransfer.items.add(file);
        fileInput.files = dataTransfer.files;
        addFileToDropify(0, file);
        $("#video-1").attr("src", "");
      },
      error: function (error) {
        console.log(error);
      }
    });
    release();
  });

  $('#captureImage-2').click(function () {

    $.ajax({
      url: '/cameras/capture_image/',
      type: 'GET',
      xhrFields: {
        responseType: 'blob'
      },
      success: function (response) {
        $('.dropify-clear').eq(1).click();
        const fileInput = document.getElementById('id_backImage');
        var filename = 'captured_image.jpg';

        var file = new File([response], filename, { type: 'image/jpeg' });
        // Add the file to the DataTransfer object
        dataTransfer = new DataTransfer()
        dataTransfer.items.add(file);
        fileInput.files = dataTransfer.files;
        addFileToDropify(1, file)
        $("#video-2").attr("src", "");
      },
      error: function (error) {
        console.log(error);
      }
    });
    release();
  });
  function addFileToDropify(index, file) {
    console.log(index)
    var reader = new FileReader();

    reader.onload = function (e) {
      $('.dropify-preview').eq(index).css('display', 'block');
      var imageElement = $('<img>');
      imageElement.attr('src', e.target.result);
      // Change the display style of the element with class dropify-clear to block
      $('.dropify-clear').eq(index).css('display', 'block');
      // Append the image element to the target element
      $('.dropify-render').eq(index).append(imageElement);
    };

    // Convert the File object to a data URL
    reader.readAsDataURL(file);
  }

</script>
{% endblock %}