{% extends 'base_page.html' %}
{% load static %}
{% block mystyles %}
<link rel="stylesheet" href="{% static 'css/dropify.min.css' %}">
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-example1 pt-2">
    <li class="breadcrumb-item"><a href="/">الرئسية</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sarch Id</li>
  </ol>
</nav>
<div class="card custom-card">
  <div class="card-header justify-content-between">
    <div class="card-title">
       الحث عن الشخص
    </div>
    <div class="prism-toggle">
      <!-- <button class="btn btn-sm btn-primary-light">Show Code<i
          class="ri-code-line ms-2 d-inline-block align-middle"></i></button> -->
    </div>
  </div>
  <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
              <strong>Error(s) in the form:</strong>
              <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div class="row d-flex justify-content-center align-items-center">
              <div class="card-body col-12 col-md-4">
                <div class="form-group w-50 mx-auto">
                  {{form.frontImage.label_tag}}
                  {{form.frontImage}}
                </div>
                <div class="form-group mt-3 w-50 mx-auto">
                  {{ form.National_id.label_tag }}
                  {{ form.National_id }}
                </div>
                <div class="form-group mt-3 w-50 mx-auto">
                <button class="btn btn-primary">Serach</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/dropify.min.js' %}"></script>
<script>
  $(".dropify-front").dropify(
    {
      messages: {
        'default': 'قم برفع صوره وجه البطاقة هنا ',
        'replace': 'اضغط للاستبدال الصوره',
        'remove': 'مسح',
        'error': 'صوره خاطئه,برجاء إعاده الرفع'
      }
    }
  );
  $(".dropify-back").dropify(
    {
      messages: {
        'default': 'قم برفع صوره خلفية البطاقة هنا ',
        'replace': 'اضغط للاستبدال الصوره',
        'remove': 'مسح',
        'error': 'صوره خاطئه,برجاء إعاده الرفع'
      }
    }
  );
  function openCamera(index, id) {
    $("#video-" + index).attr("src", "/cameras/video/" + id);
  }

  function release() {
    $.ajax({
      url: "/cameras/release/",
      type: "GET",
      success: function (data) {

      },
      error: function (xhr, status, error) {

        console.error(error);
      }
    });
  }

  $('#captureImage').click(function () {

    $.ajax({
      url: '/cameras/capture_image/',
      type: 'GET',
      xhrFields: {
        responseType: 'blob' // Set the response type to 'blob'
      },
      success: function (response) {
        $('.dropify-clear').eq(0).click();
        const fileInput = document.getElementById('id_frontImage');
        var filename = 'captured_image.jpg';
        // Create a new file object from the blob response
        var file = new File([response], filename, { type: 'image/jpeg' });
        // Add the file to the DataTransfer object
        dataTransfer = new DataTransfer()
        dataTransfer.items.add(file);
        fileInput.files = dataTransfer.files;
        addFileToDropify(0, file);
        $("#video-1").attr("src", "");
      },
      error: function (error) {
        console.log(error);
      }
    });
    release();
  });

  $('#captureImage-2').click(function () {

    $.ajax({
      url: '/cameras/capture_image/',
      type: 'GET',
      xhrFields: {
        responseType: 'blob'
      },
      success: function (response) {
        $('.dropify-clear').eq(1).click();
        const fileInput = document.getElementById('id_backImage');
        var filename = 'captured_image.jpg';

        var file = new File([response], filename, { type: 'image/jpeg' });
        // Add the file to the DataTransfer object
        dataTransfer = new DataTransfer()
        dataTransfer.items.add(file);
        fileInput.files = dataTransfer.files;
        addFileToDropify(1, file)
        $("#video-2").attr("src", "");
      },
      error: function (error) {
        console.log(error);
      }
    });
    release();
  });
  function addFileToDropify(index, file) {
    console.log(index)
    var reader = new FileReader();

    reader.onload = function (e) {
      $('.dropify-preview').eq(index).css('display', 'block');
      var imageElement = $('<img>');
      imageElement.attr('src', e.target.result);
      // Change the display style of the element with class dropify-clear to block
      $('.dropify-clear').eq(index).css('display', 'block');
      // Append the image element to the target element
      $('.dropify-render').eq(index).append(imageElement);
    };

    // Convert the File object to a data URL
    reader.readAsDataURL(file);
  }

</script>
{% endblock %}