{% extends 'base_page.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'AdminLTE/plugins/ekko-lightbox/ekko-lightbox.css' %}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
            <div class="card card-danger shadow-lg">
              <div class="card-header">
                <h3 class="card-title">{{camera.name}} <span class="small text-success">Live</span></h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body wh-100">
                <img id="video" width="100%" src="" alt="loading.." height="700px">
                   <div style="height:30%;overflow-y:hidden">
                   
                  <div class="p-0 row w-100" style="overflow-x:scroll;height: 400px;" id="result{{camera.id}}">
                    
                  </div>
               </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
{% endblock %}

{% block  scripts %}
<script src="{% static 'AdminLTE/plugins/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/filterizr/jquery.filterizr.min.js' %}"></script>
 <script>
    $(function () {
    $('#video').attr("src","/livefeed/video/{{camera.id}}")
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });
    setInterval(()=>{
    $.ajax({
                url: '/result_cameras/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                  
                   data.data.forEach(function (obj) {
                  
                    var newDiv = `
                    <div class="col-12 col-md-4">
            <!-- small box -->
            <div class="small-box bg-${obj.category}">
              <div class="inner" >
                <h3>${obj.name}</h3>
                <p>${obj.sort}</p>
              </div>
              <div class="icon">
                <i class="mb-2">
                <a href="http://localhost:8000${obj.img}?text=${obj.name}" data-toggle="lightbox" data-title="${obj.des}">
                <img src="http://localhost:8000${obj.img}?text=${obj.name}" width="70" height="70" class="img-fluid mb-2" alt="${obj.name}"/>
                </a>
              </i>
              </div>
            </div>
          </div>
    `;
  if (!$("#result"+obj.id_camera+" #p"+obj.id_person).length > 0) {
      $("#result"+obj.id_camera).append(newDiv);

   
    // $('.btn[data-filter]').on('click', function() {
    //   $('.btn[data-filter]').removeClass('active');
    //   $(this).addClass('active');
    // });
    // $('.filter-container').filterizr({gutterPixels: 3});
    }
            });
                },
                error: function (error) {

                    console.log('Error:', error);
                }
            });
   },500);

  });
  


 

 </script>
{% endblock %}