{% extends 'base_page.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{% block content %}
<div class="modal fade" id="formmodal" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">اضافة سبب</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form onsubmit="add_reason(event)" id="form">
                
                <div class="mb-3">
                    <label for="recipient-name"
                        class="col-form-label">الموظف:</label>
                    <input type="text" class="form-control" id="recipient-name" readonly>
                </div>
                <!-- <div class="mb-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                            <input type="text" class="form-control" id="datetime" placeholder="Choose date with time">
                        </div>
                    </div>
                </div> -->
                <div>
                    <p class="fw-semibold mb-2">الاذن</p>
                    <select class="form-control" data-trigger name="choices-single-default" id="id_reason" required>
                        <!-- <option value="">اختر السبب</option> -->
                        {% for reason in reasons %}
                        <option value="{{reason.id}}">{{reason.name}}</option>
                        {% endfor %}
                    </select> 
                </div>
                
                <div class="mb-3">
                    <label for="recipient-name"
                        class="col-form-label">كود الجهة :</label>
                    <input type="text" class="form-control" id="code" >
                </div>
               
                <div class="mb-3">
                    <label for="message-text"
                        class="col-form-label">السبب:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
                <input type="hidden" name="id" id="id">
                <input type="hidden" name="id_detect" id="id_detect">
            </form>
        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">اغلاق</button>
            <button type="button" data-bs-dismiss="modal" onclick="submit()" class="btn btn-primary">حفظ</button>
        </div>
    </div>
</div>
</div>
<div class="row mt-4">

  <div class="col-xl-3">
    <div class="team-groups">
        <div class="card custom-card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <span class="fs-4" id="counter">0</span> <span class="card-title">{{camera.name}} <span class="small text-success">Live</span></span>
            </div>
            <div class="card-body p-0 pb-4">
                <div class="teams-nav" id="teams-nav">
                    <ul class="list-unstyled mb-0 mt-2 "  id="resultCamera{{camera.id}}">
                        <!-- <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <div class="me-2 d-flex align-items-center">
                                        <span class="avatar avatar-lg avatar-rounded" style="border: 3px solid green;">
                                            <img src="../assets/images/faces/3.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span>Angelica Hale</span>
                                    </div>
                                    <div>
                                        <span class="fs-10 fw-semibold text-muted">
                                            
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="col-xl-9">
      <div class="team-members" id="team-members">
          <div class="row">
              <div class="col-xl-12">
                  <div class="card custom-card">
                      <div class="card-body">
                          <!-- <div class="team-header">
                              <div class="d-flex flex-wrap align-items-center justify-content-between">
                                  <div class="h5 fw-semibold mb-0"><span class="card-title">{{camera.name}} <span class="small text-success">Live</span></span>
                                  </div>
                                 
                              </div>
                          </div> -->
                          
                            <img id="video" style="width: 100%; height: 100% !important;" src="/livefeed/video/{{camera.id}}" alt="loading.."  class="border rounded mt-2">
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
</div>
{% endblock %}

{% block  scripts %}
<script src="{% static 'dist/js/team.js' %}"></script>
<script src="{% static 'dist/js/modal.js' %}"></script>
<!-- <script src="{% static 'dist/libs/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'dist/js/date&time_pickers.js' %}"></script> -->
 <script>
    $(function () {
      // var screenHeight = $(window).height()/1.5;
      // $('.scroll-container').css('max-height', screenHeight + 'px');
    // $('#video').attr("src","/livefeed/video/{{camera.id}}")
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });
    setInterval(()=>{
    $.ajax({
                url: `/result_cameras/{{camera.id}}/`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                  
                   data.data.forEach(function (obj) {
                  
    //                 var newDiv = `
    //                 <div class="col-11 p-0 m-0 mt-2">
    //         <!-- small box -->
    //         <div class="row p-0 m-0  bg-${obj.category}">
    //           <div class="col-8 pt-2" >
    //             <h3>${obj.name}</h3>
    //             <p>${obj.id}</p>
    //             <p>${obj.sort}</p>
    //           </div>
    //           <div class="col-4">
    //             <i class="">
    //             <a href="http://localhost:8000${obj.img}?text=${obj.name}" data-toggle="lightbox" data-title="${obj.des}">
    //             <img src="http://localhost:8000${obj.img}?text=${obj.name}" width="95%" height="100%" class="img-fluid m-2" alt="${obj.name}"/>
    //             </a>
    //           </i>
    //           </div>
    //         </div>
    //       </div>
    // `;
    var url="{% url 'view_person' 5 %}".replace(5,obj.id_person)
                    var newDiv = `
                    <li id="p${obj.id_person}" class="row align-items-center justify-items-center">
                            <a href="${url}" target="_blank" class="col-10">
                                
                                    <div class="me-2 d-flex align-items-center ">
                                        <span class="avatar avatar-lg avatar-rounded" style="border: 3px solid ${obj.category};">
                                            <img src="http://localhost:8000${obj.img}" alt="">
                                        </span>
                                        <span class="ps-2" style="color:${obj.category}">${obj.name}</span>
                                    </div>
                                   
                            </a>
                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-light" data-bs-toggle="modal"
                                            data-bs-target="#formmodal" data-bs-whatever="${obj.name}" data-bs-id="${obj.id}" data-bs-detect="${obj.des}">
                                                <i class="fe fe-more-vertical"></i> 
                                            </a>
                                           
                        </li>
                            `;
  if (!$("#resultCamera"+obj.id_camera+" #p"+obj.id_person).length > 0) {
    $('#counter').text(Number($('#counter').text()) + 1);
      $("#resultCamera"+obj.id_camera).prepend(newDiv);

  }
    // $('.btn[data-filter]').on('click', function() {
    //   $('.btn[data-filter]').removeClass('active');
    //   $(this).addClass('active');
    // });
    // $('.filter-container').filterizr({gutterPixels: 3});
    // }
            });
                },
                error: function (error) {

                    console.log('Error:', error);
                }
            });
   },500);

  });
  

  function submit(){
    $('#form').submit()
  }
  function add_reason(event){
    event.preventDefault()
    $.ajax({
    type: 'POST',
    url: '/persons/add_reason/',
    data: {

        'id_detect': $('#id_detect').val(), 
        'id_reason':getValue(),
        'text': $('#message-text').val(),
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        // 'date':$('#datetime').val(),
        'code':$('#code').val()
    },
    success: function(msg){
        if(msg.result){
            alert('تم حفظ البيانات')
        }else{
            alert('حدث مشكلة حاول  ثانيتا')
        }
      
    }
});
    
  }

  function getValue() {

    var selectElement = document.getElementById("id_reason");

    
    var selectedOption = selectElement.options[selectElement.selectedIndex];

    
   return selectedOption.value;

}

 

 </script>
{% endblock %}